<!DOCTYPE html>
<html>
    <head>
        <title>BMI CALCULATOR</title>
    </head>
    <body>
        <h1>BMI Calculator</h1>
        <form action="http://localhost:3001/process-bmi_calculator" method="POST">
        Weight:
        <input type="text" name="weight" placeholder="Weight in kgs" /> <br>
        Height:
        <input type="text" name="height" placeholder="Height in metres" />
        <input type="submit" value="Submit" />
        </form>
    </body>
</html>